

h2{
    font-family: 'Smokum', cursive; font-size: x-large;
    background-color: #2be29c79;
}h2
h2{font-size: 2.6rem;}



p{font-size: 2.5rem;}
p{
    font-family: 'Roboto', sans-serif;
}p
html{
    font-size: 1rem;
}
